<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PriceSpy.Web</title>
    <Style>
        .img {
            object-fit: cover;
            width: 100%;
            height: 200px;
        }
        img:after{
            content: url("~/SadClient.jpg");
        }

        .offcanvas.show {
            width: 45%;
        }
        .offcanvas-end {
            width: 45%;
        }
    </Style>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PriceSpy.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        @await Html.PartialAsync("Navbar")
    </header>
    @await Html.PartialAsync("Prices")
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - PriceSpy.Web - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="Prices">Prices</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Fetch.js" ></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>