@model Shipper
@{
    //int i = 0;
}

<div class="accordion-item">
    <div class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapse@(Shipper.IndexForAccordion)" aria-expanded="true" style="padding-left: 12px;padding: 7px;"
                aria-controls="panelsStayOpen-collapseOne">
                @if (!Model.IsRub)
                {
                    <div style="color :orangered">@Model.Name: @Model.SelectedElementsCount</div>
                }
                else
                {
                    <div>@Model.Name: @Model.SelectedElementsCount</div>
                }
        </button>
    </div>
    <div id="panelsStayOpen-collapse@(Shipper.IndexForAccordion++)" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
        @foreach (var item in Model.SelectedElements)
        {
            @await Html.PartialAsync("Element", item)
        }
    </div>
</div>