@model Element


<div class="container"
     style="border: 1px;border-style: ridge;">
    <div class="row">
        <div class="col-3" style="widht: 15%; padding-left: 3px; padding-right: 3px;">
            @Model.CatNumber
        </div>
        <div class="col-md">
            @Model.Name
        </div>
        <div class="col-xs" style="width: 10%;">
            @Model.Price
        </div>
    </div>
</div>