@model SampleViewModel
@{
    ResponseContent responseContent = new();
}
<div class="accordion" id="accordionPanelsStayOpenExample">

    @if (!string.IsNullOrEmpty(SampleViewModel.TextInfo))
    {
        <h6>@SampleViewModel.TextInfo</h6>
    }
    else
    {
        <p>Результатов в прайсах: @SampleViewModel.TotalCount</p>
    }

    @if (SampleViewModel.Shippers.Count != 0)
    @foreach (var selectedShippers in SampleViewModel.Shippers)
    {
        @await Html.PartialAsync("Accordion", selectedShippers)
    }

</div>

