@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid" style="padding-top: 60px;">
    <main role="main">
        <h5>Здесь мы будем смотреть цены на запчасти у конкурентов:</h5>
        <ul>
            <li><a href="https://turbok.by">Турбокомпрессор</a></li>
            <li><a href="https://minskmagnit.by">ЗапчастьМагнит</a></li>
            <li><a href="https://akvilonavto.by">Аквилон</a></li>
        </ul>
        <h5>Кнопка меню открывает поиск запчастей у поставщиков</h5>
        <p>Таким образом мы можем за пару секунд узнать вилку цен</p>


    </main>
</div>
