@model SampleViewModel
@{
    ViewData["Title"] = "Prices";
}

    <div class="offcanvas offcanvas-end" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" slyle="width: 40%; visibility: visible;">
    <div class="offcanvas-header" style="padding-top:8px; padding-bottom:10px;">
            <input id="search-box2" name="searchQuery" class="form-control" value="@SampleViewModel.Search" placeholder="Поиск по поставщикам @SampleViewModel.Search" type="text">
            <button id="search-button2" class="btn btn-outline-dark" type="submit">Search</button>
            <input id="rate-box2" name="rate" class="form-control" value="@SampleViewModel.Rate" placeholder="@SampleViewModel.Rate" type="text" style="width: 75px">
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" style="margin-right:10px; margin-left:10px;"></button>
        </div>
    <div class="offcanvas-body" style="padding-top: 0px;">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            </ul>
            @await Html.PartialAsync("Fetch")
        </div>
    </div>

