@model AllShippers
@{
    ViewData["Title"] = "Страница для опытов";
}
<h3>@ViewData["Title"]</h3>
@*<h5>Результатов поиска : @CardTemplate.Results </h5>*@
@*<div class="container" style="overflow-x: scroll; max-width: 100%; padding-top: 20px; padding-bottom: 10px">
    <div class="row" style="flex-wrap: nowrap">       
        @Html.DisplayFor(x=>x.CardTemplates)
    </div>
</div>*@