@model SampleViewModel
@{
    ViewData["Title"] = "Результаты поиска";
}
<header>
    @await Html.PartialAsync("Prices")
</header>
<h1> " "</h1>
<ul class="list-group">
    <li>
        @foreach (var site in SampleViewModel.Sites)
        {
            <h4>
                <a href="@site.SearchUrl" class="link-secondary" target="_blank">@site.Name: @site.ResultCount</a>
                @if (!site.IsAvailable)
            {
                <text>Сайт не отвечает</text>
            }
            </h4>


                <div class="container" style="overflow-x: scroll; max-width: 100%; padding-top: 10px; padding-bottom: 10px">
                <div class="row" style="flex-wrap: nowrap">
                    @foreach (var card in @site.CardList)
                    {
                        @await Html.PartialAsync("CardTemplate", card)
                    }
                </div>
            </div>
        }
    </li>

</ul>